body{
    background-color: rgb(235, 223, 0);
    margin-left:7%;
    margin-right: 10%;
    background-attachment: fixed;
}
#header{
    font-size: 50px;
    color:blue;
    stroke-opacity: calc();
    text-shadow:aqua 2px 2px 2px,aqua -2px -2px 2px;
    font-weight: bolder;
}
a{
    color: crimson;
}
submit_button{
    color:crimson;
}
#contact{
    color:aqua;
}
form{
    align-items: center;
    text-align: center;
}
ul{
color:rgb(255, 0, 0);
}
h2{
    color: blue;
}
